
body{
	background-color: #FFE4E1;
}

h3{
	text-align: center;
	padding: 20px;
}


.card{

	width: 30rem;
	margin: 30px;
	background-color: #FFB6C1;
}

#exit-button{
	text-align: center;
	margin: 10px;
}

#add-Todolist:hover{
	background-color: #191970;
	color: white;
}

#add-Todolist{
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
	background-color: #AFEEEE;
	border-radius: 30px;
}


