
body{
	background-color: #FFE4E1;
}

h3{
	text-align: center;
	padding: 20px;
}


.card{

	width: 30rem;
	margin: 30px;
	background-color: #FFB6C1;
}

#colorInput{
	margin-left: 10px;
	margin-right: 10px;
}

#button-divs{
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

#add-description{
	background-color: white;
}

#add-description:hover{
	background-color: #FFEBCD;
}

#addDueDate:hover{
	background-color: #FFE4E1;
	color: black;
}

#priorityButton{
	background-color: black;
	color: white;
}

#priorityButton:hover{
	background-color: #FFD700;
	color: black;
}

#Add-subtaskDiv{
	margin-top: 20px;
	text-align: center;
}

#exit-button{
	text-align: center;
	margin: 10px;
}

#add-Todolist:hover{
	background-color: #191970;
	color: white;
}

#add-Todolist{
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
	background-color: #AFEEEE;
	
}

@media (min-width: 767.98px){

	.sticky-top{
		max-width: 273px;	
	}
	
}

@media (max-width: 575.98px){
	.card{
		width: 18rem;
	}
	.sticky-sm-top{
		width: auto;
	}
}




